/* div{
    color:red;
}
#username{
    font-size: 30px;
    color:green;
}
.class1{
    color:yellow;
    border:5px solid red;
} */

/* div{
    padding-top:10px;
    border:2px solid;
    margin:20px;
} */

.abc{
    border: 1px solid;
    margin-bottom:16px;
}

.xyz{
    border: 1px solid;
    margin-bottom:16px;
    padding-top:39px;
}